#!/usr/bin/env python
PACKAGE = "cv"
from dynamic_reconfigure.parameter_generator_catkin import *

# dx PID
gen = ParameterGenerator()
gen.add("dx_Kp", double_t, 0, "dx Kp", -1.4, -100.0, 100.0)
gen.add("dx_Ki", double_t, 0, "dx Ki", 0.0, -10.0, 10.0)
gen.add("dx_Kd", double_t, 0, "dx Kd", 0.0, -10.0, 10.0)

# dy PID
gen.add("dy_Kp", double_t, 0, "dy Kp", 1.0, -100.0, 100.0)
gen.add("dy_Ki", double_t, 0, "dy Ki", 0.0, -10.0, 10.0)
gen.add("dy_Kd", double_t, 0, "dy Kd", 0.0, -10.0, 10.0)

exit(gen.generate(PACKAGE, "cv", "PIDConfig")) 